.message{
  width: 60%;
  margin-left: 20%;
}

@media screen and (min-width: 700px){
  .message{
    width: 70%;
    margin-left: 15%;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 1100px){
  .message{
    width: 60%;
    max-width: 900px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 2%;
  }
  .title{
    display:inline-block;
    width: 35%;
    vertical-align: top;
    margin: 0;
  }
  .content{
    display:inline-block;
    font-size: 3rem;
    width: 60%;
    vertical-align: top;
    margin: 0;
  }
  hr {
    margin-top: .5rem;
  }
  p {
    margin: 0;
  }
}
