.open{
  display: block;
}

.closed{
  display: none;
}

.button:hover {
  background-color: #d1ccdc; /* Green */
  color: #253031;
}

.results {
  margin: auto;
  width: 300px;
  border: 1px solid black;
  margin-bottom: 10px;
}

td, table {
  font-size: 1rem;
  height: 1.5rem;
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
  background-color: white;
}

@media screen and (min-width: 700px){

  td, table {
    font-size: 1.5rem;
    height: 2rem;
  }

  .results {
    width: 400px;
    margin-bottom: 10px;
  }
}
