.pic_holder{
  position: relative;
  text-align: center;
  min-width: 200px;
  max-width: 450px;
  color: white;
}

.result_holder{
  position: relative;
  text-align: center;
  min-width: 200px;
  max-width: 450px;
  color: #253031;
}

.safe, .safe2, .safe3, .safe4, .ski1, .ski2, .d_ham, .c_ham, .b_ham{
  display: none;
  width: 100%;
}

.roster_text {
  width: 90%;
  margin: auto;
}

.roster_text_label{
  background-color: #eaf2ef;
  color: #253031;
  margin-left: 10px;
  font-size: 1rem;
  list-style-type: none;
  vertical-align: top;
}

.roster_text_content{
  background-color: #eaf2ef;
  color: #253031;
  margin-left: 10px;
  font-size: 1rem;
  list-style-type: none;
}

img{
  display: block;
  margin: auto;
  border-radius: 25%;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}

hr {
  margin-top: 5px;
}

.divider{
  margin-bottom: 1rem;
  border: 2px solid #5a5a55;
  border-radius: 5px;
  box-shadow: 2px 2px 3px grey;
}

#roster_cont{
  width: 90%;
  max-width: 1300px;
  margin: auto;
}

button[type=level]{
  width: 100%;
  height: 100%;
  max-width: 450px;
  min-width: 200px;
  background-color: #912f56;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

button[type=course]{
  width: 100%;
  height: 100%;
  max-width: 450px;
  min-width: 200px;
  background-color: #912f56;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

button[type=NIo]{
  width: 20%;
  height: 100%;
  max-width: 450px;
  min-width: 100px;
  background-color: #e6e6e4;
  color: #5a5a55;
  padding: 2px 2px;
  margin: 8px 8px;
  border-color: #5a5a55;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

button[type=MEx]{
  width: 20%;
  height: 100%;
  max-width: 450px;
  min-width: 100px;
  background-color: #3a9633;
  color: white;
  padding: 2px 2px;
  margin: 8px 8px;
  border-color: #5a5a55;
  border-radius: 5px;
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
}

button[type=category]{
  width: 100%;
  height: 100%;
  max-width: 450px;
  min-width: 200px;
  background-color: #912f56;
  color: white;
  padding: 10px 10px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.25rem;
  text-align: center;
  font-weight: normal;
}

button[type=results]{
  width: 22%;
  height: 100%;
  max-width: 200px;
  min-width: 50px;
  background-color: #e6e6e4;
  color: #5a5a55;
  padding: 3px 3px;
  margin: 5px 1px;
  border-color: #5a5a55;
  border-radius: 5px;
  font-size: 1rem;
  text-align: center;
  font-weight:normal;
}

button[type=notes]{
  width: 100%;
  height: 100%;
  max-width: 300px;
  min-width: 50px;
  background-color: #e6e6e4;
  color: #5a5a55;
  padding: 5px 5px;
  margin: 5px 1px;
  border-color: #5a5a55;
  border-radius: 5px;
  font-size: 1.1rem;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.required{
  border-width: 5px;
}

.pass{
  background-color: #3a9633 !important;
  color: white !important;
}

.fail{
  background-color: #d60404 !important;
  color: white !important;
}

.text{
  font-size: 1rem;
  display: none;
  width: 95%;
  margin: 0px;
  padding: 0px;
}

.description{
  font-weight: bolder;
}

.pic {
  margin-bottom: 5px;
  width: 100%;
}

.col2{
  width: 95%;
  text-align: center;
}

.col3 {
  width: 70%;
  text-align: right;
  float: right;
  min-width: 145px;
}

table {
  width: 100%;
  margin: auto;
}

@media screen and (min-width: 800px){

  .centered {
    top: 90%;
  }

  .s_ham, .d_ham, .c_ham, .b_ham{
    display: inline-block !important;
  }

  .safe{
    display: inline-block !important;
  }
  .roster_text_label{
    font-size: 1.50rem;
  }

  .roster_text_content{
    font-size: 1.50rem;
  }

  img{
    display: inline-block;
    width: 250px;
    float: none;
  }

  .pic {
    display: inline-block;
    margin:auto;
    width: 40%;
    margin-bottom: 5px;
  }

  .col2{
    width: 15%;
    min-width: 140px;
    text-align: inherit;
    vertical-align: top;
  }

  .col3 {
    min-width: 220px;
    width: 35%;
    float: right;
    text-align: inherit;
    vertical-align: top;
  }
}

@media screen and (min-width: 1150px){

  .roster_text_label{
    font-size: 1.75rem;
  }

  .roster_text_content{
    font-size: 1.75rem;
  }

  .col2 {
    min-width: 175px;
  }

  .col3 {
    min-width: 250px;
  }
}
